<h1>Lista del componente clima</h1>

<a href="#" routerLink="/weathers/create" routerLinkActive="active" *ngIf="this.authService.isLoggedIn"
  class="btn btn-success mt-3 mb-2">Crear</a>
<table class="table">
  <thead>
    <tr class="center-aling">
      <th>#</th>
      <th>Precipitación (%)</th>
      <th>Humedad (%)</th>
      <th>Viento (km/h)</th>
      <th>Fecha</th>
      <th>Ciudad</th>
      <th width="220px">Acción</th>
    </tr>
  </thead>
  <tbody>

    <tr *ngFor="let weather of weathers; index as i">
      <td>{{ i }}</td>
      <td>{{ weather.Precipitation }}</td>
      <td>{{ weather.Humidity }}</td>
      <td>{{ weather.Wind }}</td>
      <td>{{ weather.Date }}</td>
      <td>{{ weather.City.ID }} - {{ weather.City.Name }}</td>
      <td>
        <a href="#" role="button" 
          *ngIf="this.authService.isLoggedIn"
          [routerLink]="['/weathers/', weather.ID, 'view']"
          routerLinkActive="active" 
          class="btn btn-info me-1">Ver</a>

        <a href="#" role="button" 
          *ngIf="this.authService.isLoggedIn"
          [routerLink]="['/weathers/', weather.ID, 'edit']"
          routerLinkActive="active" 
          class="btn btn-warning me-1">Editar</a>

        <button type="button" (click)="deleteWeather(weather.ID)" 
          *ngIf="this.authService.isLoggedIn"  
          routerLinkActive="active" 
          class="btn btn-danger">Borrar</button>
      </td>

    </tr>
  </tbody>
</table>