<h1>Registrar</h1>
<form [formGroup]="formRegister" (ngSubmit)="submit()">
  <!-- Email input -->
  <div class="form-outline mb-4">
    <label class="form-label" for="Username">Nombre de usuario:</label>
    <input formControlName="Username" type="input" id="Username" class="form-control" />
  </div>

  <!-- Password input -->
  <div class="form-outline mb-4">
    <label class="form-label" for="Email">Email:</label>
    <input formControlName="Email" type="input" id="Email" class="form-control" />
  </div>

  <!-- Password input -->
  <div class="form-outline mb-4">
    <label class="form-label" for="Password">Contraseña:</label>
    <input formControlName="Password" type="Password" id="Password" class="form-control" />
  </div>

  <!-- Password input -->
  <div class="form-outline mb-4">
    <label class="form-label" for="Password2">Contraseña:</label>
    <input type="password" id="Password2" class="form-control" />
  </div>

  <!-- Submit button -->
  <button type="submit" class="btn btn-primary btn-block mb-4">Registrar</button>

  <!-- Register buttons -->
  <div class="text-center">
    <p>Ingresar con tú usuario <a href="#" routerLink="/login">Login</a></p>
  </div>
</form>